.main{
    border: 3px solid black;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    color: blueviolet;
    height: 300px;
}
#btn1{
    color: blueviolet;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content:space-between;
    margin-left: 200px;
    box-shadow: 20px 0 20px 0;

}
#btn2{
    color: blueviolet;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 20px;
    box-shadow: 20px 0 20px 0;
}


